.brushes{
    position: absolute;
    top : 10.5%;
    left : 58%;
    background: #151515;
    border: 1px solid #308695;
    display : flex;
    padding-block : .5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.brush1{
    background-color: white;
    background-image: url(https://www.svgrepo.com/show/24909/pencil.svg);
    background-size: cover;
}
.brush2{
    background-color: white;
    background-image: url(https://www.svgrepo.com/show/25294/pen.svg);
    background-size: cover;
}
.brush3{
    background-color: white;
    background-image: url(https://www.svgrepo.com/show/14943/pen.svg);
    background-size: cover;
}
.brush4{
    background-color: white;
    background-image: url(https://www.svgrepo.com/show/53692/brush.svg);
    background-size:contain;
}

.eraserImg{
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/557/509/original/eraser-cartoon-object-vector.jpg);
    background-size: cover;
}