.brush-picker-wrap{
    position : relative;
}
.colors{
    display : grid;
    grid-template-columns: repeat(5,1fr);
    width: 150px;
    height : 230px;
    border-radius: 10px;

}

.color{
    
    width : 100%;
    height : 100%;
    cursor : pointer;
    border : 1px solid white;
}
.palette{
    max-width: 150px;
    position: absolute;

}

#inputColor{
    margin-top: 1em;
    border : 2px solid #308695;
    outline : none;
    line-height: 10px;
    text-align: center;
    padding : .3em;
    max-width: 100%;
    font-size: 1em;
}

.hide{
    display : none;
}
.top img{
    width : 30px;
    height : 30px;
    cursor : pointer;
}
.pick-btn{
    width: 30px;
}

.customColor{
    margin-top : 1em;
    background : #ffffff;
    cursor: default;
    width: 100%; 
    padding: 1em;
    border : 2px solid #308695;
}