
.rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : #f9dce1;
    background : #151515;
    height: 100vh;
    gap: 2em;

}

.rooms li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 18em;
    align-items: baseline;
    margin: 1em;
    padding : .5em;
    background: #c7b0b4;
    color : black;
    font-weight: bolder;

}


.available-rooms{
    max-height: 470px;
    overflow-y: auto;
    padding: 1em;
}
.rooms input{
    padding : 1em;
    outline : none;
    border : none;
    font-size: 1em;
    background: #151515;
    border: 1px solid #308695;
    color: #f9dce1;
    padding: 1em;
    padding-right: 2em;
    width: 100%;
    text-align: center;
}
/* width */
.rooms ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
.rooms ::-webkit-scrollbar-track {
    background: #c7b0b4;
  }
  
  /* Handle */
.rooms  ::-webkit-scrollbar-thumb {
    background: #2c7480;
  }
  
  /* Handle on hover */
.rooms  ::-webkit-scrollbar-thumb:hover {
    background: #308695;
  }