@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

  body {
    background: #151515;
    touch-action: none;

  }

.left{
    height : 100vh;
    width : 35%;
    color : #ffe8e8;
    padding: 1em;
    overflow-y: hidden;
    cursor : default;
}
.container{
    width : 100%;
    display: flex;
}
.right{
    width : 100%;
    display: flex;
    flex-direction: column;
    padding : 1em;

}
canvas{
    border-radius: 10px;
    border : 1px solid #308695;
    background: black;

}
.top{
    width : 10%;
    height : 20px;
    border : 2px solid #308695;
    padding: 1.4em;
    border-radius: 20px;
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin : 0 auto;
    margin-block : .5em;

}

.rounded {
    width : 20px;
    height : 20px;
    border-radius: 50%;
    border : 2px solid white;
    margin-inline: .6em;
    cursor : pointer;
}
.basic-colors {
    display: flex;
    align-items: center;
    margin-right : 3em;
}
.more-colors{
    display: flex;
    align-items: center;
}

.active{
    box-shadow: 0px 0px 19px 3px #308695;
    transform: scale(1.2);
    transition: .5s ease-in-out;
}

.hide{
    display: none !important;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color : #f9dce1;

}
form > *{
    display: inline;
    font-size: 1.5em;
}
form {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login input[type="text"]{
    outline : none;
    border : none;
    padding : .5em;
    color : #f9dce1;
    text-align: center;
    border-radius: 4px;
    background: #308695;
    width : 100%;
}
.login ::placeholder{
    font-size: .5em;
    color : white;
}
button{
    width : 100%;
    outline: none;
    border: 1px solid #f9dce1;
    background : #308695;
    color : #f9dce1;
    padding : .5em 1.2em;
    cursor: pointer;
}

.title{
    font-size: 4em;
    margin-bottom: 1em;
}

.left p{
    margin-bottom: 5%;
}

.left input{
    padding : 1em;
    outline : none;
    border : none;
    font-size: 1em;
    background: #151515;
    border: 1px solid #308695;
    color: white;
    padding: 1em;
    padding-right: 2em;
    width: 100%;
}


.chat-title{
    font-size: 1.5em;
    text-align: center;
    margin-bottom : 2em;

}

.chat-room{
    background : #151515;
    height : 100%;
    position: relative;
    color : white;
    padding : .5em;
    width: fit-content;
}

.chat-input img{
    width : 20px;
    height : 20px;
    position: absolute;
    right: 3%;
}
.chat-input{
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background : red;

   
} 

.chat-messages ul{
    list-style: none;
    word-break: break-all;
    line-height: 2em;
}
.chat-messages{
    overflow-y: auto;
    height: 80%;
    color : white;
    border : 1px solid #308695;
    padding : 1em;

}
.online-users{
    text-align: center;
    font-weight: bolder;
    font-size: small;
}
.user{
    color :     #308695;
}
.currentUser{
    color : red;
}
.joinLeave{
    color : gray;
    font-size: .8em;
}